services:
  inference-service:
    build: ./inference-service
    ports:
      - "8000:8000"
    volumes:
      - ./inference-service/logs:/app/logs # Persists history CSV locally, trial before using DB
    environment:
      - TZ=Asia/Singapore

  dashboard-ui:
    build: ./dashboard-ui
    ports:
      - "8501:8501"
    environment:
      - GATEWAY_URL=http://api-gateway:8080/route/predict
      - TZ=Asia/Singapore
    depends_on:
      - api-gateway

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    environment:
      - INFERENCE_URL=http://inference-service:8000/predict
    depends_on:
      - inference-service